{% extends 'base.html'%}

{% block content %}
<div class="reset">
    <h2>Ustaw nowe hasło</h2>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit">Zapisz</button>

            </form>
        {% else %}
            <p style="color:red">Niepoprawny link!</p>
            <p>
                <a href="{% url 'password_reset' %}">Poproś ponownie o link</a>
            </p>
        {% endif %}
</div>
{% endblock %}
