{% extends 'base.html'%}

{% block content %}
    <div class="menu">

        <div class="to_the_right">
            <a href="{% url 'login' %}">Flow</a>

        </div>
    </div>
    <div class="reset">
        <h2>Link został wysłany!</h2>
        <p>Link pozwalający ustawić nowe hasło dla podanego adresu email został wysłany. Jeśli mail znajduje się w bazie Flow link niebawem powinien pojawić się na Twoim koncie pocztowym. </p>
        <p>W przypadku nieotrzymania wiadomości email upewnij się czy adres wprowadzony jest zgodny z tym podanym podczas rejestracji i sprawdź zawartość folderu SPAM na swoim koncie.</p>
    </div>
{% endblock %}
