{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="menu">

    <div class="flow">
        <a href="/about">O Flow</a>
    </div>

    <div class="to_the_right">

        <a href="https://www.facebook.com/julita.podzorska"><i class="fa fa-fw fa-facebook"></i></a>
        <a href="https://www.instagram.com/julitapodzorska/"><i class="fa fa-fw fa-instagram"></i></a>

    </div>

</div>

    <h1> Flow </h1>
<div class="login-form">
  <h2>Zarejestruj się!</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey"> <br> {{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <br><button type="submit">Zarejestruj się!</button>
  </form>
</div>
{% endblock %}
