{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="menu">

        <a href="/"><i class="fa fa-fw fa-venus"></i>Cykl</a>
        <a href="/calendar/0"><i class="fa fa-fw fa-calendar"></i>Kalendarz</a>
        <div class="to_the_right">

            <a href="{% url 'logout' %}">Wyloguj</a>


        </div>
    </div>

<div class="login-form">
  <h2>Edytuj swoje dane</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey"> <br> {{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <br><br><button type="submit">Zapisz!</button>
      <a href="/account/delete" onclick="return confirm('Czy napewno chcesz usunąć konto? 😊')"><button type="button">Usuń konto</button></a>
  </form>
</div>
<style>

        .login-form {

        width: 300px;
        margin: auto;

    }
     .login-form input, label {
        margin: 3px;
        width: 100%;
        height: 20px;
        font-size: 15px;
    }
    .login-form button{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }

    h2 {
        text-align: center;
    }
    .login-form h1 {
        text-align: center;
    }
    .login-form .error{
        font-size: 10px;
    }

</style>
{% endblock %}

