{% extends 'base.html' %}

{% block title %}Calendar{% endblock %}

{% block content %}


    <div class="menu">

        <a href="#"><i class="fa fa-fw fa-user"></i>Konto</a>
        <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>

        <div class="to_the_center">
            <a class="btn btn-info left" href="/calendar/{{ prev_month }}">Poprzedni miesiąc</a>
            <a class="btn btn-info left" href="/calendar/{{ next_month }}">Następny miesiąc</a>
        </div>

        <div class="to_the_right">

            <a href="https://www.facebook.com/julita.podzorska"><i class="fa fa-fw fa-facebook"></i></a>
            <a href="https://www.instagram.com/julitapodzorska/"><i class="fa fa-fw fa-instagram"></i></a>

            <a href="{% url 'logout' %}">Wyloguj</a>
        </div>

    </div>


    {{ calendar }}
    <style>
        body{
            color: black;
        }

    table{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    th{


    }
    td{
        outline: 1px solid pink;
        box-sizing: border-box;
    }

     ul{
         margin-left: -10px;
         list-style: none;
         width: 125px;
         height: 70px;
    }

     li{
         margin-left: -10px;
         font-size: 10px;

     }
    .date{
        display: flex;
        justify-content: left ;
        margin-left: 10px;
        font-size: 15px;
    }

    .month{
        margin-bottom: 20px;
        font-size: larger;
    }
    .today {
        border: none;
        background-color: pink;
    }

    </style>


{% endblock %}


