{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="menu">

        <a href="/account"><i class="fa fa-fw fa-user"></i>Konto</a>
        <a href="/calendar/0"><i class="fa fa-fw fa-calendar"></i>Kalendarz</a>
        <div class="to_the_right">
            <a href="{% url 'logout' %}">Wyloguj</a>

        </div>
    </div>


    <div class="welcome">
        <p>Cześć {{ user.first_name }}!</p>
        Poniżej znajdziesz swój bieżący cykl, którego średnia długość wynosi {{ user.avg_cycle }} dni.
        <br> Twój cykl rozpoczął się {{ user.last_cycle }}
        <br> Kolor niebieski wyznacza dni płodne! <br><br>
    </div>

    <div class="cycle">
        <ul>
            {% for i in cycle_list %} {# petla for iterujemy przez kontener z danymi #}

                {% if forloop.counter == cycle_day%}
                    {% if i == "bleeding" %}
                        <li class="today bleeding">{{ forloop.counter }}</li>
                    {% elif i == "ovulation" %}
                        <li class="today ovulation">{{ forloop.counter }}</li>
                    {% else %}
                        <li class="today">{{ forloop.counter }}</li>
                    {% endif %}
                {% else %}
                     {% if i == "bleeding"%}
                        <li class="bleeding">{{ forloop.counter }}</li>
                     {% elif i == "ovulation" %}
                        <li class="ovulation">{{ forloop.counter }}</li>
                    {% else %}
                        <li>{{ forloop.counter }}</li>
                    {% endif %}
                {% endif %}

            {% endfor %}
        </ul>
    </div>


    <div class="health-form">
        {% if form %}
            <form action="" method="post">
            {% csrf_token %} 
                {{ form }}
                <input type="submit" value="Wyślij">
            </form>
        {% endif %}
    </div>


    <script>
        elements = document.querySelectorAll(".cycle li");
        health_form = document.querySelector(".health-form");
        health_form.visibility = "hidden";
        let saved_day;

        for (let element of elements){
            element.onmouseenter = function () {
                saved_day = this.textContent;
                this.textContent = getDate();
            }

            element.onmouseleave = function () {
                this.textContent = saved_day;
            }

            element.onclick = function () {
                health_form.visible = true;
            }
        }

        function getDate() {
            let date = new Date();
            date.setDate( date.getDate() - ({{ cycle_day }} - parseInt(saved_day)));
            let month = (date.getMonth()+1).toString().padStart(2, "0");
            let day = date.getDate().toString().padStart(2, "0");
            return (day + "." + month);
        }

    </script>


<style>


    .cycle {
        margin-top: 100px;
    }
    .cycle ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        background-color: pink;
        margin-left: -20px;
    }

    .cycle li {
        height: 40px;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        min-width: 20px;
        font-size: 20px;
        color: white;
        margin-right: 5px;
        border-radius: 25px;
        box-sizing: border-box;
    }

    .cycle li:hover{
        border: 2px solid #ff8eb1;
        background-color: #ff8eb1;
    }

    .health-form {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        color: gray;
    }
    .bleeding{
        background-color: #ff075b;
    }

    .today{
        border: 3px dotted black;
    }

    .ovulation {
        background-color: lightskyblue;
    }

     select {
        display: inline;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        padding: .5em 1.4em .5em .5em;
        max-width: 10%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border-radius: .5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
}

</style>
{% endblock %}

