{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="menu">

        <a href="#"><i class="fa fa-fw fa-user"></i>Konto</a>
        <a href="/calendar/0"><i class="fa fa-fw fa-calendar"></i>Kalendarz</a>
        <div class="to_the_right">

            <a href="https://www.facebook.com/julita.podzorska"><i class="fa fa-fw fa-facebook"></i></a>
            <a href="https://www.instagram.com/julitapodzorska/"><i class="fa fa-fw fa-instagram"></i></a>
            <a href="{% url 'logout' %}">Wyloguj</a>

        </div>
    </div>

    <div class="welcome">
        <p>Cześć {{ user.first_name }}!</p>
        Średnia długosc cyklu to {{ user.avg_cycle }} dni.
        <br> Twój cykl rozpoczął się {{ user.last_cycle }}
        <br> Kolor niebieski wyznacza dni płodne! 🦋
    </div>

    <div class="cycle">
        <ul>
            {% for i in cycle_length %}

                {% if i == cycle_day%}
                    {% if i <= bleeding_days %}
                        <li class="today bleeding">{{ i }}</li>
                    {% elif i >= ovulation_start and i <= ovulation_end %}
                        <li class="today ovulation">{{ i }}</li>
                    {% else %}
                        <li class="today">{{ i }}</li>
                    {% endif %}
                {% elif i < cycle_day %}
                     {% if i <= bleeding_days %}
                        <li class="past bleeding">{{ i }}</li>
                     {% elif i >= ovulation_start and i <= ovulation_end %}
                        <li class="past ovulation">{{ i }}</li>
                    {% else %}
                        <li class="past">{{ i }}</li>
                    {% endif %}
                {% else %}
                    {% if i >= ovulation_start and i <= ovulation_end %}
                        <li class="future ovulation">{{ i }}</li>
                    {% else %}
                        <li class="future">{{ i }}</li>
                    {% endif %}
                {% endif %}

            {% endfor %}
        </ul>
    </div>


    <div class="health-form">
        {% if form %}
            <form action="" method="post">
            {% csrf_token %} 
                {{ form }}
                <input type="submit" value="Wyślij">
            </form>
        {% endif %}
    </div>


    <script>
        elements = document.querySelectorAll(".past, .today, .future");
        let saved_day = "0";
        for (let element of elements){
            element.onmouseenter = function () {
                saved_day = this.textContent;
                this.textContent = getDate();
            }

            element.onmouseleave = function () {
                this.textContent = saved_day;
            }
        }
        function getDate() {
            let d = new Date();
            d.setDate( d.getDate() - ({{ cycle_day }} - parseInt(saved_day)));
            let month = (d.getMonth()+1).toString().padStart(2, "0");
            let day = d.getDate().toString().padStart(2, "0");
            return (day + "." + month);
        }
    </script>

{% endblock %}

