{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="menu">

        <a href="#"><i class="fa fa-fw fa-user"></i>Konto</a>
        <a href="/calendar/0"><i class="fa fa-fw fa-calendar"></i>Kalendarz</a>
        <div class="to_the_right">

            <a href="https://www.facebook.com/julita.podzorska"><i class="fa fa-fw fa-facebook"></i></a>
            <a href="https://www.instagram.com/julitapodzorska/"><i class="fa fa-fw fa-instagram"></i></a>
            <a href="{% url 'logout' %}">Wyloguj</a>

        </div>
    </div>

    <div class="welcome">
        <p>Cześć {{ user.first_name }}!</p>
        Średnia długosc cyklu to {{ user.avg_cycle }} dni.
        <br> Twój cykl rozpoczął się {{ user.last_cycle }}
        <br> Kolor niebieski wyznacza dni płodne! 🦋
    </div>

    <div class="cycle">
        <ul>
            {% for i in cycle_list %} {# petla for iterujemy przez kontener z danymi #}

                {% if forloop.counter == cycle_day%}
                    {% if i == "bleeding" %}
                        <li class="today bleeding">{{ forloop.counter }}</li>
                    {% elif i == "ovulation" %}
                        <li class="today ovulation">{{ forloop.counter }}</li>
                    {% else %}
                        <li class="today">{{ forloop.counter }}</li>
                    {% endif %}
                {% else %}
                     {% if i == "bleeding"%}
                        <li class="bleeding">{{ forloop.counter }}</li>
                     {% elif i == "ovulation" %}
                        <li class="ovulation">{{ forloop.counter }}</li>
                    {% else %}
                        <li>{{ forloop.counter }}</li>
                    {% endif %}
                {% endif %}

            {% endfor %}
        </ul>
    </div>


    <div class="health-form">
        {% if form %}
            <form action="" method="post">
            {% csrf_token %} 
                {{ form }}
                <input type="submit" value="Wyślij">
            </form>
        {% endif %}
    </div>


    <script>
        elements = document.querySelectorAll(".cycle li");
        let saved_day;

        for (let element of elements){
            element.onmouseenter = function () {
                saved_day = this.textContent;
                this.textContent = getDate();
            }

            element.onmouseleave = function () {
                this.textContent = saved_day;
            }
        }

        function getDate() {
            let date = new Date();
            date.setDate( date.getDate() - ({{ cycle_day }} - parseInt(saved_day)));
            let month = (date.getMonth()+1).toString().padStart(2, "0");
            let day = date.getDate().toString().padStart(2, "0");
            return (day + "." + month);
        }

    </script>

{% endblock %}


